@charset "UFT-8";
@keyframes manuel {
    0% {background-color:#BF3475; left:-5px;}
    10% {background-color: #D9328E; left: 27px;}
    20% {background-color: #A46487; left: 48px;}
    30% {background-color: purple; left: 70px;}
    40% {background-color: #BD8061; left: 91px;}
    50% {background-color: #B68A5D; left: 113px;}
    60% {background-color: #CBAB84; left: 134px;}
    70% {background-color: #CFBFA4; left: 156px;}
    80% {background-color: #79542ebc; left: 177px;}
    90% {background-color: #5A5F65; left: 199px;}
   100% {background-color: #46423B; left:210px} 
}
@keyframes manuel1 {
    0% {background-color:#BF3475; left:-5px;}
    10% {background-color: #D9328E; left: 77px;}
    20% {background-color: #A46487; left: 148px;}
    30% {background-color: purple; left: 220px;}
    40% {background-color: #BD8061; left: 291px;}
    50% {background-color: #B68A5D; left: 363px;}
    60% {background-color: #CBAB84; left: 434px;}
    70% {background-color: #CFBFA4; left: 506px;}
    80% {background-color: #79542ebc; left: 577px;}
    90% {background-color: #5A5F65; left: 649px;}
   100% {background-color: #46423B; left:710px} 
}
@keyframes manuel2 {
    0% {background-color:#BF3475; left:-5px;}
    10% {background-color: #D9328E; left: 141px;}
    20% {background-color: #A46487; left: 276px;}
    30% {background-color: purple; left: 412px;}
    40% {background-color: #BD8061; left: 547px;}
    50% {background-color: #B68A5D; left: 683px;}
    60% {background-color: #CBAB84; left: 818px;}
    70% {background-color: #CFBFA4; left: 954px;}
    80% {background-color: #79542ebc; left: 1089px;}
    90% {background-color: #5A5F65; left: 1225px;}
   100% {background-color: #46423B; left:1350px} 
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body {
    animation-name: manuel1;
    animation-duration: 10s;
    animation-timing-function: linear ;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
header > h1{
    background-image: linear-gradient(to left, #694E31, #C08B5D, #9B9485, #F2E7D5);
    text-align: center;
    line-height: 40px;
    padding: 20px;
}
header > div#barra{
    background-image: linear-gradient(to right, #101618, #694E31, #C08B5D, #9B9485, #F2E7D5);
    height: 40px;
}
header > div > p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 15px;
    padding: 15px;
    width: 180px;
    height: 40px;
    position: relative;
    animation-name: manuel;
    animation-duration: 5s;
    animation-timing-function: linear ;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
main {
    margin: auto 2%;
    background-color: white;
}
main > section#primeiro{
    background-image: url('./imagens/Joice.png');
    background-color: #BF3475;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
main > section > p.paragrafo1{
    text-align: justify;
    width: 240px;
    padding: 10px ;
    text-indent: 30px;
}
main > section#vazio{
    background-color: white;
}
main > section > h2{
    text-align: center;
    padding: 10px;
}
main > section > p.paragrafo2{
    text-align: justify;
    text-indent: 30px;
    padding: 10px;
}
main > section#segundo{
    background-image: url('./imagens/Joice1.png');
    background-color: #BF3475;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
main > section > p#paragrafo10{
    text-align: justify;
    text-indent: 30px;
    padding: 15px;
}
main > section > p#paragrafo11{
    text-align: justify;
    width: 240px;
    padding: 10px ;
    text-indent: 30px;
}
main > section > p#paragrafo12{
    text-align: justify;
    width: 240px;
    padding: 10px ;
    text-indent: 30px;
}
main > section > p#paragrafo13{
    text-align: justify;
    width: 240px;
    padding: 10px ;
    text-indent: 30px;
}
footer {
    animation-name: manuel;
    animation-duration: 20s;
    animation-timing-function: linear ;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
footer > div#endereco{
    padding: 20px;
    margin-left: 20px;
}
footer > div > nav > div.linha{
    padding:5px;
    display: inline-block;
}
footer > div > nav > div > a > img.rede{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: width 1s, height 1s, transform 2s;
    transition-timing-function: linear;
}
.rede:hover{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transform: rotate3d(180, 180, 180, 180deg);
}
@media screen and (min-width: 400px) {
    main > section > p.paragrafo1{
        text-align: justify;
        width: 300px;
        padding: 10px ;
        text-indent: 0px;
    }
    main > section > p#paragrafo11{
        text-align: justify;
        width: 100%;
        padding: 10px ;
        text-indent: 30px;
    }
    main > section > p#paragrafo12{
        text-align: justify;
        width: 60%;
        padding: 10px ;
        text-indent: 30px;
    }
    main > section > p#paragrafo13{
        text-align: justify;
        width: 80%;
        padding: 10px ;
        text-indent: 30px;
    }
    
}
@media screen and (min-width: 300px) {
    header > div > p{
        animation-name: manuel;
        animation-duration: 10s;
    }
}
@media screen and (min-width: 550px) {
    header > div > p{
        animation-name: manuel1;
        animation-duration: 10s;
    }
}
@media screen and (min-width: 900px) {
    header > div > p{
        animation-name: manuel1;
    }
}
@media screen and (min-width: 1500px) {
    header > div > p{
        animation-name: manuel2;
    }
}
@media screen and (min-width: 800px) {
    main > section#primeiro{
        background-image: url('./imagens/Joice.png');
        background-color: #BF3475;
        background-position: right;
        background-repeat: no-repeat;
        background-size: 39% 100%;
    }
    main > section > p.paragrafo1{
        text-align: justify;
        width: 60%;
        padding: 10px ;
        text-indent: 30px;
    }
    main > section > p#paragrafo10{
        text-align: justify;
        width: 60%;
        padding: 10px ;
        text-indent: 30px;
    }
    main > section > p#paragrafo11{
        text-align: justify;
        width: 60%;
        padding: 10px ;
        text-indent: 30px;
    }
    main > section > p#paragrafo12{
        text-align: justify;
        width: 60%;
        padding: 10px ;
        text-indent: 30px;
    }
    main > section > p#paragrafo13{
        text-align: justify;
        width: 60%;
        padding: 10px ;
        text-indent: 30px;
    }
    main > section#segundo{
        background-image: url('./imagens/Joice1.png');
        background-color: #BF3475;
        background-repeat: no-repeat;
        background-position: right;
        background-size: 39% 100%;
    }
    main > section > h2{
        width: 60%;
        text-align: center;
        padding: 10px;
    }
}