@charset "UFT-8";
@keyframes manuel {
   0% {background-color:red; left:-700px;}
   10% {background-color: greenyellow; left: -562px;}
   20% {background-color: purple; left: -424px;}
   30% {background-color: blue; left: -286px;}
   40% {background-color: gray; left: -148px;}
   50% {background-color: beige; left: -10px;}
   60% {background-color: aqua; left: 122px;}
   70% {background-color: #D9328E; left:266px;}
   80% {background-color: #76442C; left: 404px;}
   90% {background-color: chocolate; left: 542px;}
   100% {background-color: yellow; left:680px}
   
  
    
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body {
    background-color: #c28d628e;
}
header > h1{
    background-image: linear-gradient(to left, #694E31, #C08B5D, #9B9485, #F2E7D5);
    text-align: center;
    line-height: 40px;
    padding: 20px;
}
header > div#barra{
    background-image: linear-gradient(to right, #101618, #694E31, #C08B5D, #9B9485, #F2E7D5);
    height: 40px;
}
header > div > p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    width: 180px;
    position: relative;
    animation-name: manuel;
    animation-duration: 10s;
    animation-timing-function: linear ;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
main {
    margin: auto 2%;
    background-color: white;
}
main > section#primeiro{
    background-image: url('../imagens/Joice.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
main > section > p.paragrafo1{
    text-align: justify;
    width: 240px;
    padding: 10px ;
    text-indent: 30px;
}
main > section#vazio{
    background-color: white;
}
main > section > h2{
    text-align: center;
    padding: 10px;
}
main > section > p.paragrafo2{
    text-align: justify;
    text-indent: 30px;
    padding: 10px;
}
main > section#segundo{
    background-image: url('../imagens/Joice1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
main > section > p#paragrafo10{
    text-align: justify;
    text-indent: 30px;
    padding: 15px;
}
main > section > p#paragrafo11{
    text-align: justify;
    width: 240px;
    padding: 10px ;
    text-indent: 30px;
}
main > section > p#paragrafo12{
    text-align: justify;
    width: 240px;
    padding: 10px ;
    text-indent: 30px;
}
main > section > p#paragrafo13{
    text-align: justify;
    width: 240px;
    padding: 10px ;
    text-indent: 30px;
}
footer {
    margin: -10px;
    background-color: #D9328E;
}
footer > div#endereco{
    padding: 20px;
    margin-left: 20px;
}
footer > div > nav > div.linha{
    padding:5px;
    display: inline-block;
}
footer > div > nav > div > a > img.rede{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: width 1s, height 1s, transform 2s;
    transition-timing-function: linear;
}
#barra{
    margin-top: -15px;
    background-image: linear-gradient(to right, #101618, #694E31, #C08B5D, #9B9485, #F2E7D5);
    height: 40px;
}
#Joice{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 10px;
    padding: 10px;
    width: 180px;
    position: relative;
    animation-name: manuel;
    animation-duration: 10s;
    animation-timing-function: linear ;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.rede:hover{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transform: rotate3d(180, 180, 180, 180deg);
}
@media screen and (min-width: 400px) {
    main > section > p.paragrafo1{
        text-align: justify;
        width: 300px;
        padding: 10px ;
        text-indent: 0px;
    }
    main > section > p#paragrafo11{
        text-align: justify;
        width: 100%;
        padding: 10px ;
        text-indent: 30px;
    }
    main > section > p#paragrafo12{
        text-align: justify;
        width: 60%;
        padding: 10px ;
        text-indent: 30px;
    }
    main > section > p#paragrafo13{
        text-align: justify;
        width: 80%;
        padding: 10px ;
        text-indent: 30px;
    }
    
}
@media screen and (min-width: 800px) {
    main > section#primeiro{
        background-image: url('../imagens/Joice.png');
        background-position: right;
        background-repeat: no-repeat;
        background-size: 39% 100%;
    }
    main > section > p.paragrafo1{
        text-align: justify;
        width: 60%;
        padding: 10px ;
        text-indent: 30px;
    }
    main > section > p#paragrafo10{
        text-align: justify;
        width: 60%;
        padding: 10px ;
        text-indent: 30px;
    }
    main > section > p#paragrafo11{
        text-align: justify;
        width: 60%;
        padding: 10px ;
        text-indent: 30px;
    }
    main > section > p#paragrafo12{
        text-align: justify;
        width: 60%;
        padding: 10px ;
        text-indent: 30px;
    }
    main > section > p#paragrafo13{
        text-align: justify;
        width: 60%;
        padding: 10px ;
        text-indent: 30px;
    }
    main > section#segundo{
        background-image: url('../imagens/Joice1.png');
        background-repeat: no-repeat;
        background-position: right;
        background-size: 39% 100%;
    }
    main > section > h2{
        width: 60%;
        text-align: center;
        padding: 10px;
    }
    
}